@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Ribeye&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    font-family: Ribeye, sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    background-image: url("images/frontFaceCards/v1008-25-b.jpg");
    position: relative;
}
#results{
    padding: 12px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.correct p{
    width: 50%;
    padding-right: 3%;
    box-sizing: border-box;
    position: absolute;
    
}
.moves{
    padding-right: 3%;
    width: 50%;
    float: right;

}
.memory-game{
    height: 590px;
    width: 600px;
    background-color: rgba(233, 216, 165, 0.7);    
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    bottom: 20px;
    top: 20px; 
    align-items: center;
    justify-content: center;
    position: absolute;

}
.memory-card{
    display: flex;
    position: relative;
    width: calc(95% / 4 - 10px);
    height: calc(85% / 4 - 10px);
    cursor: pointer;
    justify-content: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .6s;
    margin: 4px;
    padding-bottom: 0px;
    
 
}
.memory-card:active {
    transition: transform .4s;
    transform: scale(0.92);

  }
  .memory-card.flip {
    transform: rotateY(180deg);
  }

.memory-card.shake{
    animation: shake .2s;

}
@keyframes shake {
    0%{
            transform: rotate(0deg);
        }
    
        30% {
            transform: rotate(8deg);
        }
        
        60% {
            transform: rotate(-8deg);
        }
        
        100% {
            transform: rotate(0deg);
    }
}

  .front-face,
  .back-face {
   
    height: 94%;
    width: 94%;
    background: rgb(181, 145, 94);
    border-radius: 10px;
    box-shadow: 1px 10px 10px rgba(90, 69, 69, 0.5);
    position: absolute;
    transition: transform .5s linear;
    backface-visibility: hidden;
}
.front-face{
    transform: rotateY(180deg);
}
/*styling buttons*/

#buttonsBottom{

    margin-top:30%;
    height: 60px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.buttons-group{

    flex-basis: 50%;
    margin-bottom: 5%;
    box-sizing: border-box;
    text-align: center;
}
.buttons-group .start_button{
    
}
a{
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(150, 84, 30);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
    margin-top:10px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 0;
    border-radius: 56px;
    height: 150%;
    width: 70%;
    background-color: burlywood;

}
a:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.25);
     }

/* Media queries */ 


/* Extra large devices (large laptops and desktops, 1500px and up) */


@media only screen and (max-width: 1500px){
    .memory-game
    {
        height: 520px;
        width: 520px;
        margin-left: 100px;
        margin-bottom: 400px;
        top: 10px;
        }
     #buttonsBottom{

    width: 40%;
    display: flex;
    margin-left:85px;
   
        }
    .buttons-group 
    {  
    margin-top:-120px;
    height: 40px;
    width: 35%;
    padding-top: 10px;
     }
    }


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1300px) {

    .memory-game{
    height: 520px;
    width: 520px;
    margin-left: 100px;
    margin-bottom: 400px;
    top: 20px;
}

    .buttons-group 
    {  
    margin-top:-60px;
    
     }
}



/* Medium screen sizes from 950px wide and down
(large laptops and desktops, 950px and up) */

@media only screen and (max-width: 980px){
    
    .memory-game{
    height: 530px;
    width: 530px;
    margin-left: 100px;
    margin-bottom: 400px;
    top: 10px;
    position: absolute;}

    
#buttonsBottom{

    width: 50%;
    display: flex;
    margin-left:85px;
   
        }
    .buttons-group 
    {  
    margin-top:-350px;
    height: 40px;
    width: 35%;
    padding-top: 10px;
     }
}
   
@media only screen and (max-width: 830px) {
    #buttonsBottom{

        width: 60%;
        display: flex;
        margin-left:85px;
       
            }
        .buttons-group 
        {  
        margin-top:-210px;
        height: 40px;
        width: 45%;
        padding-top: 10px;
         }
}

@media only screen and (max-width: 700px) {
    #buttonsBottom{

        width: 70%;
        display: flex;
        margin-left:85px;
    }
        .buttons-group  {  
        margin-top:100px;
        height: 40px;
        width: 75%;
        padding-top: 10px;
         }
        }
@media only screen and (max-width: 600px) {
    .memory-game{
        height: 450px;
        width: 450px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 400px;
        top: 20px;
        position: absolute;}
          
        #buttonsBottom{

        width: 70%;
        display: flex;
        margin-left:0px;
        }
        .buttons-group  {  
        margin-top:10px;
        height: 40px;
        width: 75%;
        padding-top: 10px;
             }
         a{
        font-size: 18px;
                } 
            } 

        @media only screen and (max-width: 470px) {

        .memory-game{
        height: 420px;
        width: 380px;
        margin-left: 20px;
        margin-right: 20px;
        top: 40px;
        padding-bottom: 20px;
        position: absolute;}

        #buttonsBottom{

        width: 100%;
        display: flex;
        margin-left:10px;
        font-size: 10px;
        }
        .buttons-group {  
        margin-top:-100px;
        height: 40px;
        width: 75%;
        padding-top: 10px;
        font-size: 10px;
        } 
        a{
        font-size: 18px;
        }            
        }
   @media only screen and (max-width: 395px) {

    .memory-game{
        height: 390px;
        width: 320px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 400px;
        padding-bottom: 20px;
        top: 60px;
        position: absolute;}
          
        #buttonsBottom{

            width: 80%;
            display: flex;
            margin-left:5px;
            font-size: 10px;
            }
            .buttons-group {  
            margin-top:-50px;
            height: 40px;
            width: 80%;
            padding-top: 12px;
            font-size: 10px;
            } 
            a{
                font-size: 14px;
            }            
            } 

            @media only screen and (max-width: 290px) {

                .memory-game{
                    height: 310px;
                    width: 260px;
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-bottom: 400px;
                    padding-bottom: 40px;
                    top: 60px;
                    position: absolute;}
                      
                    #buttonsBottom{
            
                        width: 90%;
                        display: flex;
                        margin-left:5px;
                        font-size: 10px;
                        }
                        .buttons-group {  
                        margin-top:-10px;
                        height: 40px;
                        width: 80%;
                        padding-top: 12px;
                        font-size: 10px;
                        } 
                        a{
                        font-size: 12px;
                        }            
                        } 