@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Ribeye&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body
{
    display: flex;
    font-family: Ribeye, sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("images/frontFaceCards/v1008-25-b.jpg");

}
/*styling welcome page*/

.container{
    position: relative;
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 216, 165, 0.4); 
    font-size: 50px;
    border-radius: 40px;
    padding: 30px;
    font-size: 70px;
    text-align: justify;
    box-shadow: 0px 50px 100px -20px  rgba(50, 50, 93, 0.5);
    }

.text h1{ 
    
    margin-top: -120px;
    font-size: 60px;    
    text-align: center;
    color: rgb(146, 77, 25);
    text-shadow: 1px 1px 1px rgb(32, 21, 23);
  }

  /*buttons styling welcome page*/
  .buttons-group a
  {
    margin-top: 50px;
    width: 200px;
    height: 50px;
  }

  a{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;}

    .start_button{
        margin-left: 440px;
        background-color: burlywood;
    }
       .instructions_button{
        margin-left: 200px;
        background-color: burlywood;
       }

/*Instrucrion page styling*/
.instruction_container{
    position: relative;
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(233, 216, 165, 0.4); 
    font-size: 50px;
    border-radius: 40px;
    padding: 30px;
    font-size: 70px;
    text-align: center;
    box-shadow: 0px 50px 100px -20px  rgba(50, 50, 93, 0.5);
    }

  .content h2{
    margin-top: -150px;
    font-size: 25px;    
    text-align: center;
    color: rgb(146, 77, 25);
    text-shadow: 1px 1px 1px rgb(32, 21, 23);
  }
  .buttons a{
    margin-top: 130px;
    width: 200px;
    height: 50px;
}
a{
    
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(150, 84, 30);
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}
a:hover{
   transform: translateY(-5px);
   box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.25);
}

 .onset{
    margin-left: 520px;
    background-color: burlywood;
}
   .welcome_button{
    margin-left: 280px;
    background-color: burlywood;
   }

@media screen and (max-width: 1900px){

    .instruction_container{
        
        width: 90%;
        height: 80vh;
        display: flex;
        font-size: 50px;
        border-radius: 40px;
        padding: 30px;
        font-size: 70px;}

    .content h2{
        margin-top: -150px;
        font-size: 25px;    
        text-align: center;}

        .buttons a{
            margin-top: 250px;
        }
        .onset{
            margin-left: 670px;
            background-color: burlywood;
        }
           .welcome_button{
            margin-left: 420px;
            background-color: burlywood;
           }
}
@media screen and (max-width: 1200px){
     /*welcome page styling*/

     .container{
        width: 100%;
        height: 80vh; 
    }
    .text h1{
        font-size: 50px;
        padding-top: 80px;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(32, 21, 23);
    }

    /* welcome page buttons styling*/
   
/* instructions page styling*/

.instruction_container{
    width: 100%;
    height: 120vh;
    margin-left: 5%;
    margin-right: 5%;
    }
.content{
    position: relative;

}
.content h2{
    font-size: 25px;    
    text-align: center;
    text-shadow: 1px 1px 1px rgb(32, 21, 23);
}
/* instructions buttons styling*/


}
@media only screen and (max-width: 950px){
   /*welcome page styling*/

   .container{
    width: 100%;
    height: 80vh; 
}
.text h1{
    font-size: 50px;
    padding-top: 80px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(32, 21, 23);
}

/* welcome page buttons styling*/
a{
    width: 200px;
    height: 10vh;
    top: 60%;
    text-align: center;
    justify-content: center;
    padding-top: 5px;  
    font-size: 20px;    
}
.start_button
{
margin: 20px 340px;
}
.instructions_button{
margin: 20px 120px;
}
/* instructions page styling*/

.instruction_container{
width: 100%;
height: 120vh;
margin-left: 5%;
margin-right: 5%;
}
.content{
position: relative;

}
.content h2{
font-size: 15px;    
text-align: center;
text-shadow: 1px 1px 1px rgb(32, 21, 23);
}


/* instructions buttons styling*/
}  
.buttons a{
    
    width: 180px;
    height: 40px;
    top: 150px;
    text-align: center;
    justify-content: center;
    padding-top: 5px;  
    font-size: 18px; 
}
.buttons .onset{
   
}
.buttons .welcome_button{
    
}  

@media all and (max-width: 600px) {

    /*welcome page styling*/

    .container{
        width: 100%;
        height: 80vh; 
    }
    .text h1{
        font-size: 40px;
        padding-top: 80px;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(32, 21, 23);
    }

    /* welcome page buttons styling*/
    a{
        width: 200px;
        height: 10vh;
        top: 50%;
        text-align: center;
        justify-content: center;
        padding-top: 5px;  
        font-size: 20px;    
    }
.start_button
{
    margin: 40px 220px; 
}
.instructions_button{
    margin: 20px 0;
}
/* instructions page styling*/

.instruction_container{
    width: 100%;
    height: 120vh;
    margin-left: 5%;
    margin-right: 5%;
    }
.content{
    position: relative;

}
.content h2{
    font-size: 15px;    
    text-align: center;
    text-shadow: 1px 1px 1px rgb(32, 21, 23);
}

/* instructions buttons styling*/
 
   }

@media only screen and (max-width: 470px) {
  
    /*welcome page styling*/

    .container{
        width: 100%;
        height: 80vh; 
    }
    .text h1{
        font-size: 30px;
        padding-top: 80px;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(32, 21, 23);
    }  
.text a{
        width: 150px;
        height: 30px;
        top: 50%;
        text-align: center;
        justify-content: center;
        padding-top: 5px;  
        font-size: 15px;    
    }
.start_button
{
    margin: 40px 180px;
      
}
.instructions_button{
    margin: 20px 0;               
}

/* instructions buttons styling*/

@media only screen and (max-width: 360px){

  
     /*welcome page styling*/

     .container{
        width: 100%;
        height: 80vh; 
    }
    .text h1{
        font-size: 30px;
        padding-top: 30px;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(32, 21, 23);

    }

    /* welcome page buttons styling*/
    .buttons-group a{
        width: 130px;
         height: 40px;
        display: flex;
        font-size: 12px;  
        margin-top: 80px;
        padding-top: 2px;
          
    }
    .start_button
    {
        margin-left: 10px;
           }
       .instructions_button
       { margin-top: 80px;
         margin-left: 150px;
           } 

/* instructions page styling*/

.instruction_container{
    width: 100%;
    height: 120vh;
    margin-left: 5%;
    margin-right: 5%;
    
    }

.content h2{
    font-size: 13px;    
    text-align: center;
    text-shadow: 1px 0px 0px rgb(32, 21, 23);
    top: 2px;
}


/* instructions buttons styling*/
 
}
/*styling welcome page buttons*/

.text a{
    width: 130px;
    height: 30px;
    top: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 5px;  
    font-size: 10px;    
}
.start_button
{
margin: 40px 140px;
  
}
.instructions_button{
margin: 20px 0;               
    }}
   